@model List<GetPostVM>
@{
    ViewData["Title"] = "AllPostsUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card card-widget">
    <div class="card-header">
        <div class="card-header">
            <h4>User Post List</h4>
        </div>
        <div class="card-body">
            <p>


                @using (Html.BeginForm("Users", "User", FormMethod.Get))
                {
                    @Html.TextBox("userName") <input type="submit" value="Search" />



                }


            </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>ImagePath</th>
                        <th>User Name</th>
                        <th>Post_Scores</th>
                        <th>CreateDate</th>
                        <th>Delete</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="3">No records found.</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {


                            if (item.Status != SMP.Domain.Enums.Status.Passive)
                            {
                                <tr id="postUser">
                                    <td>@item.Id</td>
                                    <td>@item.Description</td>
                                    <td><img class="img-fluid pad" src="@item.ImagePath" alt="Photo"></td>
                                    <td>
                                        <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id">@item.UserName</a>
                                    </td>
                                    <td>@item.Total_Score</td>
                                    <td>@item.CreateDate</td>
                                    <td>

                                        <button type="button" class="btn btn-danger btn-sm" id="postDlt" data-id="@item.Id" onclick="postDelete()">Delete</button>

                                    </td>

                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                                    </td>
                                </tr>
                            }
                        }
                    }

                </tbody>

            </table>
        </div>
        <div class="card-footer">
            <a asp-action="Create" class="btn btn-primary">Create New One</a>
        </div>
    </div>
</div>


<script type="text/javascript">




    function postDelete(){
        
        var id1 = $('#postDlt').data('id');
        var url = '@Url.Action("Delete", "Post")';
        $.ajax({
            url: url,
            type: 'POST',
            data: { id: id1 },
            success: function (data) {
                alert("Silme işlemi başarılı");
                $('#postUser').remove();
            }
        });
    };





</script>