@model List<FollowVM>
@{
    ViewData["Title"] = "Followings";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4>User List</h4>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
             
                        <th>User Name</th>
                        <th>Image</th>
                        <th>User SCORE</th>
                   
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id">@item.UserName</a>
                            </td>

                            <td>
                                <img src="@item.Image" width="100" height="100">
                            </td>
                            <td>@item.User_Score</td>
 
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Details</a>
                            </td>
                             <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Details</a>
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
</div>

