@model GetAppUserVM
@{
    ViewData["Title"] = "UserProfile";
}





<form id="userDetails" novalidate class="needs-validation">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" src="@Model.ImagePath" alt="User profile picture">
        </div>

        <h3 class="profile-username text-center">@Model.UserName</h3>

        <li class="list-group-item">
            <b>User_Score</b> <a class="float-right">@Model.User_Score</a>
        </li>


        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <a asp-controller="Follower" asp-action="Followers" asp-route-id="@Model.Id">Followers</a>  <a class="float-right">@Model.Follower_Count</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Follower" asp-action="Followings" asp-route-id="@Model.Id">Followings</a>  <a class="float-right">@Model.Following_Count</a>

            </li>


        </ul>


        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">Edit</a>

    </div>
    @foreach (var item in Model.UserPosts)
    {
        <form asp-action="UserProfile" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div class="card card-widget">
                <div class="card-header">
                    <div class="user-block">
                        <img class="img-circle" src="@item.UserImagePath" alt="User Image">
                        <span class="username"><a href="#">@item.UserName</a></span>
                        <span class="description">Shared publicly - @item.CreateDate.ToShortDateString()</span>
                    </div>
                    <!-- /.user-block -->
            </div>
                <!-- /.card-header -->
            <div class="card-body">
                    <img class="img-fluid pad" src="@item.ImagePath" alt="Photo">
                    <br />
                    <h4 class="card-text">@item.Description</h4>
                    <a asp-controller="Post" asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Details</a>
           

                    <a asp-controller="Post" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Update</a>
                    <span class="float-right text-muted">@item.Total_Score Score - @item.Total_Comment Comments</span>
                </div>
                <!-- /.card-body -->


        </div>
        </form>

    }



</form>

@*<script type="text/javascript">


    function edit() {


    $.ajax({
    type: 'Get',
    url: '/User/UserGet/',


    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
    data: { id :'@Model.Id'},

    success: function (result) {
    alert('başarılı oldu lannnnnnn ');
    console.log(result);
    },

    })
    }


    </script>*@



