@model List<GetPostVM>
@{
    ViewData["Title"] = "UserPosts";
}

<div class="col-sm-6">
    <div class="row">
        <div class="card-header">
            <h4>Product List</h4>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Description</td>
                            <td>@item.ImagePath</td>
                            <td>@item.Post_Scores</td>
                            
                            <td>
                                <a asp-action="Post_Comments" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Post_Comments</a>
                            </td> 
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Delete</a>
                            </td>
                            
                        </tr>
                    }
                </tbody>
                
            </table>
        </div>
        <div class="card-footer">
            <a asp-action="Create" class="btn btn-primary">Create New One</a>
        </div>
    </div>
</div>


@*@model CreatePostDTO
@{
    ViewData["Title"] = "Create";
}
<div class="row ml-2 mt-2 mr-2">
    <div class="col-sm-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Create Post</h3>
            </div>
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="UploadPath"></label>
                        <input class="form-control" type="file" asp-for="UploadPath">
                        <span asp-validation-for="UploadPath" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input class="form-control" placeholder="Content" asp-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>


                </div>
                <div class="card-footer">
                    <a asp-action="List" class="btn btn-dark btn-sm mr-2 float-end">Back To List</a>
                    <input type="submit" class="btn btn-primary btn-sm float-end mr-2" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>*@

