@model List<FavoritePostVM>
@{
    ViewData["Title"] = "FavoritePosts";
}

<form id="allPosts" novalidate class="needs-validation">

    <div class="col-sm-6">
        <div class="row">
            <div class="card-header">
                <h4>Favorite Posts</h4>
            </div>
            <div class="card-body">
                @foreach (var item in Model)
                {
                    <form asp-action="UserProfile" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                        <div class="card card-widget">
                            <div class="card-header">
                                <div class="user-block">
                                    <img class="img-circle" src="@item.UserImagePath" alt="User Image">
                                    <span class="username"><a href="#">@item.UserName</a></span>
                                    <span class="description">Shared publicly - @item.CreateDate</span>
                                </div>
                                <!-- /.user-block -->
                        </div>
                            <!-- /.card-header -->
                        <div class="card-body">
                                <img class="img-fluid pad" src="@item.PostImage" alt="Photo">
                                <br />
                                <h4 class="card-text">@item.Description</h4>
                                <a asp-controller="Post" asp-action="Details" asp-route-id="@item.Post_Id" class="btn btn-warning btn-sm">Details</a>
                                <a asp-controller="FavoritePost" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Remove</a>
                                <span class="float-right text-muted">@item.Total_Score Score - @item.Total_Comment Comments</span>
                            </div>
                            <!-- /.card-body -->


                    </div>
                    </form>
                }
            </div>

        </div>
    </div>



</form>

